//////////Colores//////////

$primary-color: rgba(96, 239, 33, 1);
$secondary-color: rgba(0, 176, 200, 1);
$tertiary-color: rgba(0, 0, 0, 0.8);

//////////Tipografía//////////

$principal-font: unquote('Ruluko'), sans-serif;
$font-size-subtitle: 3em;
$font-size-question: 1.25em;
$font-size-answer: 1em;


