<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Ruluko&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Rick and Morty</title>
</head>
<body>
    <div id="app">
        <div>
          <img src="images/logo.svg" alt="logo">
        </div>
        <h1>{{ mensaje }}</h1>
        <b-carousel
            id="carousel-1"
            v-model="slide"
            :interval="4000"
            controls
            indicators
            background="#ababab"
            img-width="1024"
            img-height="480"
            style="text-shadow: 1px 1px 2px #333;"
            @sliding-start="onSlideStart"
            @sliding-end="onSlideEnd">
            <b-carousel-slide caption="Blank Image" img-blank img-alt="Blank image">
                <div>
                    <h4>Pregunta</h4>
                    <b-form-group label="Stacked (vertical) button-group style checkboxes">
                        <b-form-checkbox-group
                        v-model="selected"
                        :options="options"
                        stacked
                        buttons
                        ></b-form-checkbox-group>
                    </b-form-group>

                </div>

            </b-carousel-slide>
            
        </b-carousel>
    </div>
        <div>
            <img src="images/vortex.png" alt="vortex">
        </div>
    </div>
    <script src="javascript.js"></script>
</body>
</html>