<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Ruluko&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Rick and Morty</title>
</head>
<body>
    <div id="app">
        <div>
          <img src="images/logo.svg" alt="logo">
        </div>
        <h1>{{ mensaje }}</h1>
        <b-carousel
            ref="myCarousel"
            id="carousel-1"
            v-model="slide"
            :interval="0"
            controls
            indicators
            background="#ababab"
            img-width="200"
            img-height="100"
            style="text-shadow: 1px 1px 2px #333;"
            @sliding-start="onSlideStart"
            @sliding-end="onSlideEnd">
            <b-carousel-slide 
                v-for="(question, index) in questions" 
                img-blank 
                img-alt="Blank image">
                <div>
                    <b-form-group :label="question">
                        <b-form-radio-group
                        v-model="selected[index]"
                        stacked
                        buttons
                        >
                            <b-form-radio v-for="(answer, index) in answers[index]" @mouseup.native="next()" :value="answer.value">{{ answer.text }}</b-form-radio>
                        </b-form-radio-group>
                    </b-form-group>
                </div>
            </b-carousel-slide>
            <b-carousel-slide 
                img-blank 
                img-alt="Blank image">
                <div>
                    <p>Texto para confirmar finalización o lo que sea</p>
                    <button id="sendAnswersButton">Enviar</button>
                </div>
            </b-carousel-slide>
        </b-carousel>
    </div>
        <div>
            <img src="images/vortex.png" alt="vortex">
        </div>
    </div>
    <script src="javascript.js"></script>
</body>
</html>