@charset 'utf-8';
@import 'variables';

body {
  background-image: url('images/background_stars.png');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: $primary-color;
  font-family: $principal-font;
}

p {
  color: $primary-color;
  font-family: $principal-font;
  font-size: 1.5em;
}

#sendAnswersButton {
  border-radius: 1em;
  background-color: $primary-color;
  font-family: $principal-font;
  font-size: 1.5em;
  color: $tertiary-color;
  padding: 0 1em;

}

#logo-container {
  display: flex;
  justify-content: center;
  padding: 0;
}

#logo-img {
  margin-top: 5em;
  width: 53em;
}

#app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#carousel-1 {
  background: $tertiary-color;
  border: 1px solid $primary-color;
  border-radius: 50px;
  width: 70%;
  display: flex;
}

#vortex-container {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 4em;
  z-index: auto;
}

#vortex-img {
  width: 25em;
  height: 25em;
  position: absolute;
  z-index: 1;
}

#character {
  position: relative;
  width: 20em;
  z-index: 2;
  border-radius: 10em;
}


.boton-prueba {
  color: red!important;
  label {
  }
}

b-carousel-slide p {
  color: red!important;
}

b-form-group label {
  font-family: 'Courier New', Courier, monospace!important;
}